name: CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    Android:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-java@v2
              with:
                  distribution: 'microsoft'
                  java-version: '11'

            - name: Install .NET MAUI Workload
              run: dotnet workload install maui@9.0.100

            - name: Build
              run: dotnet publish -f net9.0-android
              working-directory: VSM.Samples
    iOS:
        runs-on: macos-15
        steps:
            - uses: actions/checkout@v2

            # Fixes error when using newer NuGet packages that require a minimum version of Xcode
            - name: Use Latest Xcode
              uses: maxim-lobanov/setup-xamarin@v1
              with:
                  xcode-version: '26.0.1'

            - name: Install .NET MAUI Workload
              run: dotnet workload install maui@9.0.100

            - name: Build
              run: dotnet publish -f net9.0-ios /p:EnableCodeSigning=false
              working-directory: VSM.Samples
    Windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v2

            - name: "Update windows SDK"
              uses: fbactions/setup-winsdk@v1
              with:
                winsdk-build-version: 19041

            - name: Install .NET MAUI Workload
              run: dotnet workload install maui@9.0.100

            - name: Build
              run: dotnet publish -f net9.0-windows10.0.19041.0
              working-directory: VSM.Samples
